#root{
    background-color: #cdced3e5;
}
.container{
    display: flex;
    justify-content: center;

}
.userList{
    background-color: white;
    min-width: 80em;
    margin:7vh 0;
    position: relative;
    padding: 3vh 5vh;
    box-shadow: 0 4px 6px 0 #f5f5f5, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header{
    margin-bottom: 3vh;
}
.header span{
    font-size: 3vh;
    font-weight: 600;
    margin-right: 17vh; 
}
.header span:first-child{
    margin-right: 42vh;
}